<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Veículos</title>
    <link rel="stylesheet" href="exibir-revisoes.component.css" />
  </head>
  <body>
    <div class="main">
      <div class="formulario">
        <div class="iconeVoltar">
          <img
            (click)="entrarPrincipal()"
            src="assets/voltarBtn.png"
            alt="Voltar"
          />
          <h1
            style="
              background-color: #000080;
              color: #ffffff;
              width: 50vh;
              height: 7vh;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 10px;
            "
          >
            VEICULOS
          </h1>
        </div>

        <div class="container card-container" *ngFor="let placa of listaPlacas">
          <div class="card">
            <div
              style="
                display: flex;
                text-align: left;
                justify-content: space-around;
                align-items: center;
              "
              class="card-body"
            >
              <!-- Informações do veículo -->
              <div class="revi">
                <p><strong>Placa:</strong> {{ placa }}</p>
                <p>
                  <strong>Tipo Revisão:</strong>
                  {{
                    revisoesDetalhadas[placa]?.tipoRevisao || "Não encontrado"
                  }}
                </p>
                <p>
                  <strong>Detalhes Revisão:</strong>
                  {{
                    revisoesDetalhadas[placa]?.detalhesRevisao ||
                      "Não encontrado"
                  }}
                </p>
                <textarea
                  style="border-radius: 5px"
                  [ngModel]="revisoesDetalhadas[placa]?.orcamento"
                  (ngModelChange)="updateOrcamento($event, placa)"
                  placeholder="Orçamento"
                ></textarea>
                <div class="button-container">
                  <button
                    (click)="
                      salvarOrcamento(
                        placa,
                        revisoesDetalhadas[placa]?.orcamento
                      )
                    "
                  >
                    Salvar
                  </button>
                </div>
              </div>

              <!-- Informações do cliente -->
              <div class="info-column">
                <p>
                  <strong>Nome Cliente:</strong>
                  {{
                    revisoesDetalhadas[placa]?.nomeCliente || "Não encontrado"
                  }}
                </p>
                <p>
                  <strong>CPF Cliente:</strong>
                  {{
                    revisoesDetalhadas[placa]?.cpfCliente || "Não encontrado"
                  }}
                </p>
                <p>
                  <strong>Telefone Cliente:</strong>
                  {{
                    revisoesDetalhadas[placa]?.telefoneCliente ||
                      "Não encontrado"
                  }}
                </p>
                <p>
                  <strong>Email Cliente:</strong>
                  {{
                    revisoesDetalhadas[placa]?.emailCliente || "Não encontrado"
                  }}
                </p>
              </div>

              <!-- Informações do veículo -->
              <div class="info-column">
                <p>
                  <strong>Marca Veículo:</strong>
                  {{
                    revisoesDetalhadas[placa]?.marcaVeiculo || "Não encontrado"
                  }}
                </p>
                <p>
                  <strong>Modelo Veículo:</strong>
                  {{
                    revisoesDetalhadas[placa]?.modeloVeiculo || "Não encontrado"
                  }}
                </p>
                <p>
                  <strong>Ano Veículo:</strong>
                  {{
                    revisoesDetalhadas[placa]?.anoVeiculo || "Não encontrado"
                  }}
                </p>
              </div>

              <!-- Ações -->
              <div class="actions">
                <select
                  class="custom-select"
                  (change)="enviarStatus(placa, $event)"
                >
                  <option value="Aguardando">Aguardando</option>
                  <option value=" Andamento 🔧">Andamento</option>
                  <option value=" Concluido ✅">Concluído</option>
                </select>
                <button
                  (click)="concluirRevisao(placa)"
                  class="custom-button"
                >
                  CONCLUIR REVISÃO
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
