<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Veículos</title>
    <link rel="stylesheet" href="exibir-revisoes.component.css" />
  </head>
  <body>
    <div class="main">
      <div class="formulario">
        <div class="iconeVoltar">
          <img
            (click)="entrarPrincipal()"
            src="assets/voltarBtn.png"
            alt="Voltar"
          />
          <h1
            style="
              background-color: #000080;
              color: #ffffff;
              width: 50vh;
              height: 7vh;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 10px;
            "
          >
            VEICULOS
          </h1>
        </div>

        <div class="container card-container" *ngFor="let placa of listaPlacas">
          <div class="card">
            <div
              style="
                display: flex;
                text-align: left;
                justify-content: space-around;
                align-items: center;
              "
              class="card-body"
            >
              <!-- Informações do veículo -->
              <div  class="revi">
                <p><strong>Placa:</strong> {{ placa }}</p>
                <p>
                  <strong>Tipo Revisão:</strong>
                  {{
                    revisoesDetalhadas[placa]?.tipoRevisao || "Não encontrado"
                  }}
                </p>
                <p>
                  <strong>Detalhes Revisão:</strong>
                  {{
                    revisoesDetalhadas[placa]?.detalhesRevisao ||
                      "Não encontrado"
                  }}
                </p>
                <select
                  class="custom-select"
                  (change)="enviarStatus(placa, $event)"                  
                >
                  <option value=" *Aguardando*">Aguardando</option>
                  <option value=" *Andamento* 🔧">Andamento</option>
                  <option value=" *Teste de Estrada* 🚗">
                    Teste de Estrada
                  </option>
                  <option value=" *Diagnóstico* 📊">Diagnóstico</option>
                  <option value=" *Desmontagem* 🔩">Desmontagem</option>
                  <option value=" *Montagem* 🔧">Montagem</option>
                  <option value=" *Concluido* ✅">Concluído</option>
                  <option value=" *Lavagem* 🚿">Lavagem</option>
                  <option value=" *Pintura* 🎨">Pintura</option>
                  <option value=" *Alinhamento* 📏">Alinhamento</option>
                  <option value=" *Balanceamento* ⚖️">Balanceamento</option>
                  <option value=" *Troca de Óleo* 🛢️">Troca de Óleo</option>
                  <option value=" *Revisão Geral* 🔍">Revisão Geral</option>
                  <option value=" *Troca de Pneus* 🚗">Troca de Pneus</option>
                  <option value=" *Troca de Bateria* 🔋">
                    Troca de Bateria
                  </option>
                  <option value=" *Freios* 🚦">Freios</option>
                  <option value=" *Suspensão* 🛠️">Suspensão</option>
                  <option value=" *Elétrica* 💡">Elétrica</option>
                  <option value=" *Motor* ⚙️">Motor</option>
                  <option value=" *Transmissão* 🔧">Transmissão</option>
                  <option value=" *Limpeza Interna* 🧽">Limpeza Interna</option>
                  <option value=" *Polimento* ✨">Polimento</option>
                  <option value=" *Inspeção* 🕵️">Inspeção</option>
                  <option value=" *Revisão de Segurança* 🛡️">
                    Revisão de Segurança
                  </option>
                </select>
                <textarea
                  style="border-radius: 5px"
                  [ngModel]="revisoesDetalhadas[placa]?.orcamento"
                  (ngModelChange)="updateOrcamento($event, placa)"
                  placeholder="Diagnóstico e orçamento"
                ></textarea>
                <div class="button-container">
                  <button
                    (click)="
                      salvarOrcamento(
                        placa,
                        revisoesDetalhadas[placa]?.orcamento
                      )
                    "
                  >
                    Enviar Mensagem
                  </button>
                </div>
              </div>

              <!-- Informações do veículo -->
              <div class="info-column">
                <p>
                  <strong>Marca Veículo:</strong>
                  {{
                    revisoesDetalhadas[placa]?.marcaVeiculo || "Não encontrado"
                  }}
                </p>
                <p>
                  <strong>Modelo Veículo:</strong>
                  {{
                    revisoesDetalhadas[placa]?.modeloVeiculo || "Não encontrado"
                  }}
                </p>
                <p>
                  <strong>Ano Veículo:</strong>
                  {{
                    revisoesDetalhadas[placa]?.anoVeiculo || "Não encontrado"
                  }}
                </p>
              </div>

              <!-- Informações do cliente -->
              <div class="info-column">
                <p>
                  <strong>Nome Cliente:</strong>
                  {{
                    revisoesDetalhadas[placa]?.nomeCliente || "Não encontrado"
                  }}
                </p>
                <p>
                  <strong>CPF Cliente:</strong>
                  {{
                    revisoesDetalhadas[placa]?.cpfCliente || "Não encontrado"
                  }}
                </p>
                <p>
                  <strong>Telefone Cliente:</strong>
                  {{
                    revisoesDetalhadas[placa]?.telefoneCliente ||
                      "Não encontrado"
                  }}
                </p>
                <p>
                  <strong>Email Cliente:</strong>
                  {{
                    revisoesDetalhadas[placa]?.emailCliente || "Não encontrado"
                  }}
                </p>
              </div>

              

              <!-- Ações -->
              <div class="actions">
                <button (click)="concluirRevisao(placa)" class="custom-button">
                  CONCLUIR REVISÃO
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
