/* styles.css ou no estilo global do componente */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

h1 {
  margin: 30px;
  background-color: #000080;
  color: #ffffff;
  border-radius: 10px;
  width: 50vh;
  height: auto;
  padding: 15px;
  font-size: 2em;
  text-align: center;
  box-sizing: border-box; /* Ensure padding is included in the element's width and height */
}

.formulario {
  grid-template-columns: repeat(2, 1fr);
  width: auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  border: 3px solid #000080;
}

.container.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 80%; /* ajuste conforme necessário */
}

.card-body p {
  margin: 10px 0;
}

.revi{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.info-column{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

button {
  display: inline-block;
  height: 35px;
  width: auto;
  margin-top: 10px;
  background-color: #28a745; /* Cor verde para avançar/progressão */
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #218838; /* Cor mais escura para o hover */
  transform: translateY(-2px);
}

button:active {
  background-color: #1e7e34; /* Cor ainda mais escura para o active */
  transform: translateY(0);
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.4); /* Foco com sombra verde clara */
}

/* exibir-clientes.component.css */
.container {
  margin: 20px;
  width: 95%;
  height: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  /* Definindo o fundo da tabela como branco */
}

.table th,
.table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.table th {
  background-color: #f2f2f2;
}

.table th,
.table td {
  text-align: left;
  text-align: center;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Escurecendo a linha da tabela ao passar o mouse sobre ela */
.table tr:hover {
  background-color: #ddd;
  /* Mudando a cor de fundo para uma tonalidade mais escura */
}

.iconeVoltar {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  width: 40%;
}

img:hover {
  opacity: 0.7;
}

img {
  width: 70px;
  height: 70px;
  margin: 5px;
  padding: 5px;
  border: 3px solid #000080;
  border-radius: 5px;
  cursor: pointer;
}
