
/PI5/Projeto/node_modules
/BackEnd/Back-Oficina/spring/pi5/src/main/resources
BackEnd/Back-Oficina/spring/pi5/src/main/resources/application.properties
BackEnd/Back-Oficina/spring/pi5/target/classes/application.properties
