<div class="principal">
    <div (click)="entrarCadRevisao()" class="botao">
        <img class="icone" src="assets/adicionarRevisoes.png"
            style="width: 150px; height: 150px; margin: 10px; transition: transform 0.3s;">
        <h1>Nova Revisão</h1>
    </div>


    <div (click)="entrarCadCliente()" class="botao">
        <img class="icone" src="assets/adicionarUsuario.png"
            style="width: 150px; height: 150px; margin: 10px; transition: transform 0.3s;">
        <h1>Novo Cliente</h1>
    </div>

    <div (click)="entrarCadFuncionario()" class="botao">
        <img class="icone" src="assets/adicionarFuncionarios.png"
            style="width: 150px; height: 150px; margin: 10px; transition: transform 0.3s;">
        <h1>Novo Funcionário</h1>
    </div>

    <div (click)="entrarExibirRevisoes()" class="botao">
        <img class="icone" src="assets/revisoes.png"
            style="width: 150px; height: 150px; margin: 10px; transition: transform 0.3s;">
        <h1>Exibir Revisões</h1>
    </div>

    <div (click)="entrarExibirClientes()" class="botao">
        <img class="icone" src="assets/usuarios.png"
            style="width: 150px; height: 150px; margin: 10px; transition: transform 0.3s;">
        <h1>Exibir Clientes</h1>
    </div>


    <div (click)="entrarExibirFuncionarios()" class="botao">
        <img class="icone" src="assets/funcionarios.png"
            style="width: 150px; height: 150px; margin: 10px; transition: transform 0.3s;">
        <h1>Exibir Funcionários</h1>
    </div>


    <div (click)="entrarCadVeiculo2()" class="botao">
        <img class="icone" src="assets/adicionarCarro.png"
            style="width: 150px; height: 150px; margin: 10px; transition: transform 0.3s;">
        <h1>Novo Veículo</h1>
    </div>

    <div (click)="entrarExibirVeiculos()" class="botao">
        <img class="icone" src="assets/carros.png"
            style="width: 150px; height: 150px; margin: 10px; transition: transform 0.3s;">
        <h1>Veículos</h1>
    </div>


    <div class="botao">
        <img class="icone" src="assets/wpp.png"
            style="width: 150px; height: 150px; margin: 10px; transition: transform 0.3s;">
        <h1>WhatsApp</h1>
    </div>

<!--     <div class="botao">
        <img class="icone" src="assets/configurações.png"
            style="width: 150px; height: 150px; margin: 10px; transition: transform 0.3s;">
        <h1>Configurações</h1>
    </div> -->

</div>




<div class="mobile">
    <div (click)="entrarCadRevisao()" class="botao">
        <img class="icone" src="assets/adicionarRevisoes.png"
            style="width: 150px; height: 150px; margin: 10px; transition: transform 0.3s;">
        <h1>Nova Revisão</h1>
    </div>

    <div class="botao">
        <img class="icone" src="assets/revisoes.png"
            style="width: 150px; height: 150px; margin: 10px; transition: transform 0.3s;">
        <h1>Exibir Revisões</h1>
    </div>

    <div (click)="entrarCadVeiculo()" class="botao">
        <img class="icone" src="assets/adicionarCarro.png"
            style="width: 150px; height: 150px; margin: 10px; transition: transform 0.3s;">
        <h1>Novo Veículo</h1>
    </div>

    <div class="botao">
        <img class="icone" src="assets/carros.png"
            style="width: 150px; height: 150px; margin: 10px; transition: transform 0.3s;">
        <h1>Veículos</h1>
    </div>

    <div (click)="entrarCadCliente()" class="botao">
        <img class="icone" src="assets/adicionarUsuario.png"
            style="width: 150px; height: 150px; margin: 10px; transition: transform 0.3s;">
        <h1>Novo Cliente</h1>
    </div>


    <div class="botao">
        <img class="icone" src="assets/usuarios.png"
            style="width: 150px; height: 150px; margin: 10px; transition: transform 0.3s;">
        <h1>Exibir Clientes</h1>
    </div>

    <div (click)="entrarCadFuncionario()" class="botao">
        <img class="icone" src="assets/adicionarFuncionarios.png"
            style="width: 150px; height: 150px; margin: 10px; transition: transform 0.3s;">
        <h1>Novo Funcionário</h1>
    </div>

    <div class="botao">
        <img class="icone" src="assets/funcionarios.png"
            style="width: 150px; height: 150px; margin: 10px; transition: transform 0.3s;">
        <h1>Exibir Funcionários</h1>
    </div>

    <div class="botao">
        <img class="icone" src="assets/wpp.png"
            style="width: 150px; height: 150px; margin: 10px; transition: transform 0.3s;">
        <h1>WhatsApp</h1>
    </div>

<!--     <div class="botao">
        <img class="icone" src="assets/configurações.png"
            style="width: 150px; height: 150px; margin: 10px; transition: transform 0.3s;">
        <h1>Configurações</h1>
    </div> -->
</div>