<div class="main">
    <div class="iconeVoltar">
      <img (click)="entrarPrincipal()" src="assets/voltarBtn.png" alt="">
      <h1 style="background-color: #000080; color: #ffffff; width: 50vh; height: 7vh; display: flex; align-items: center; justify-content: center; border-radius: 10px;">FUNCIONARIOS</h1>
    </div>
    
    
    <input style="width: 50%; height: 35px; margin-bottom: 30px; border: 2px solid #c0c0c0; border-radius: 5px;" type="text" placeholder="Pesquisar por nome..." [(ngModel)]="searchTerm" (input)="filterFuncionarios()">


    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Senha</th>
            <th>Telefone</th>
            <th>CPF</th>
            <th>Email</th>
            <th>CEP</th>
            <th>Logradouro</th>
            <th>Bairro</th>
            <th>Localidade</th>
            <th>UF</th>
            <th style="border: 0; background-color: white;"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let funcionario of paginatedFuncionarios">
            <td>{{ funcionario.id }}</td>
            <td>{{ funcionario.nome }}</td>
            <td>{{ funcionario.senha }}</td>
            <td>{{ funcionario.telefone }}</td>
            <td>{{ funcionario.cpf }}</td>
            <td>{{ funcionario.email }}</td>
            <td>{{ funcionario.cep }}</td>
            <td>{{ funcionario.logradouro }}</td>
            <td>{{ funcionario.bairro }}</td>
            <td>{{ funcionario.localidade }}</td>
            <td>{{ funcionario.uf }}</td>
            <td style="background-color: rgb(255, 255, 255); border: 0;">
              <button (click)="editarFuncionario(funcionario)" style="background-color: #000080; color: white; height: 4vh; width: 8vh; border-radius: 3px;">Editar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pagination">
        <button (click)="goToFirstPage()" [disabled]="currentPage === 1">Primeira</button>
        <button (click)="goToPreviousPage()" [disabled]="currentPage === 1">Anterior</button>
        
        <button *ngIf="currentPage > (maxPagesToShow / 2) + 1" (click)="loadPage(1)">1</button>
        <span *ngIf="currentPage > (maxPagesToShow / 2) + 2">......</span>
        
        <button *ngFor="let page of displayedPages" (click)="loadPage(page)" [class.active]="page === currentPage">{{ page }}</button>
        
        <span *ngIf="currentPage < totalPages - (maxPagesToShow / 2) - 1">......</span>
        <button *ngIf="currentPage < totalPages - (maxPagesToShow / 2)" (click)="loadPage(totalPages)">{{ totalPages }}</button>
        
        <button (click)="goToNextPage()" [disabled]="currentPage === totalPages">Próxima</button>
        <button (click)="goToLastPage()" [disabled]="currentPage === totalPages">Última</button>
      </div>
    </div>
  </div>
