<div class="main">

<div class="texto">
    <h1 style="font-size: 60px;">AUTO SOS</h1>
    <p style="font-size: 25px;">Conectando serviços de qualidade com a comodidade do toque digital. Bem-vindo 
        à revolução da assistência automotiva.</p>
</div>

<div class="login">
    <h1 style="width: 30vh; height: 80px; display: flex; justify-content: center; align-items: center; color: #000080; border-radius: 10px; font-size: 80px; margin: 40px;">LOGIN</h1>
    <input type="text" id="CPF" [(ngModel)]="cpfInput" placeholder="CPF">
    <input type="password" id="SENHA" [(ngModel)]="senhaInput" placeholder="SENHA">
    <button (click)="abrirTelaPrincipal()" >ENTRAR</button>
</div>

</div>
