<div class="main">
  <div class="formulario">
    <div class="iconeVoltar">
      <img (click)="entrarPrincipal()" src="assets/voltarBtn.png" alt="" />
      <h1>CADASTRO DE VEÍCULO</h1>
    </div>

    <input [(ngModel)]="veiculo.cpf" type="text" placeholder="CPF" />
    <input
      [(ngModel)]="veiculo.placa"
      type="text"
      placeholder="PLACA VEÍCULO"
    />
    <input [(ngModel)]="veiculo.marca" type="text" placeholder="MARCA" />
    <input [(ngModel)]="veiculo.modelo" type="text" placeholder="MODELO" />
    <input [(ngModel)]="veiculo.ano" type="text" placeholder="ANO" />

    <button (click)="cadastrarVeiculo()">CADASTRAR</button>

    <div *ngIf="errorMessage" style="color: red; margin-top: 10px">
      {{ errorMessage }}
    </div>
  </div>
</div>
