<div class="main">

    <div class="formulario">

        <div class="iconeVoltar">

            <img (click)="entrarPrincipal()" src="assets/voltarBtn.png" alt="">
            <h1>CADASTRO DE VEICULO</h1>



        </div>

        <div style="display: flex; align-items: center;">

            <b><label style="font-size: 20px;" for="cpf">NOME:</label></b>

            <input [(ngModel)]="cliente.nome" type="text" placeholder="NOME" readonly>

            <b><label style="font-size: 20px;" for="cpf">CPF:</label></b>

            <input [(ngModel)]="cliente.cpf" type="text" placeholder="CPF" readonly>


        </div>

        <input [(ngModel)]="veiculo.placa" type="text" placeholder="PLACA VEICULO">

        <button style="background-color: #9B0025;">BUSCAR</button>

        <input [(ngModel)]="veiculo.marca" type="text" placeholder="MARCA">
        <input [(ngModel)]="veiculo.modelo" type="text" placeholder="MODELO">
        <input [(ngModel)]="veiculo.ano" type="text" placeholder="ANO">

        <button (click)="cadastrarVeiculo()">AVANÇAR</button>

    </div>

</div>